<launch>
	<arg name="use_xacro" default = "false" />
	<arg if="($arg use_xacro)" name="filename" default="robot_links_and_joints.xacro" />
	<arg unless="($arg use_xacro)" name="filename" default="robot_links_and_joints.urdf" />
	

	<arg name="file" default="$(find lab4_robot_description)/urdf/$(arg filename)" />

	<!--param name="robot_description" textfile="$(arg file)"/-->
	<param if="$(arg use_xacro)" name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg file)" />

	<node pkg="robot_state_publisher" type="robot_state_publisher"name="robot_state_publisher" />

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find lab4_robot_description)/config/robot_config.rviz" required="true" />
</launch>
